CLICKHOUSE_HOST=localhost
CLICKHOUSE_PORT=9000
CLICKHOUSE_USER=profiler
CLICKHOUSE_PASSWORD=profiler
CLICKHOUSE_DATABASE=profiler
CLICKHOUSE_TABLE=events
CLICKHOUSE_INITIAL_TABLE=initial_events

RESULTS_DIR=results
CLICKHOUSE_CONTAINER_CPUS=6
CLICKHOUSE_CONTAINER_RAM_LIMIT=8g

WR_DURATION_SECONDS=120
WR_INSERT_BATCH_SIZE_LIST=[3000,5000,8000]
WR_WRITER_THREAD_LIST=3,4,5
WR_READER_THREADS=10
WR_MAX_RETRIES=3
WR_INSERT_REQUEST_TIMEOUT_SECONDS=10
WR_READ_REQUEST_TIMEOUT_SECONDS=20
